/* * {
  border-style: solid;
  border-width: 2px;
} */

html {
  background: linear-gradient(#ade3ff, #fcf8cf);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}

.name-picture-container {
  padding: 0;
  margin: 30px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.name-picture-item {
  padding: 20px
}

.front-page-profile-image {
  border-radius: 50%;
  width: 200px;
}

.large-name {
  font-size: 50px
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.front-btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  width: 150px;
  height: 60px;
  margin: 30px 50px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.front-btn:hover {
  background: #e7e7e7;
  /* color: white; */
}

