/* * {
  border-style: solid;
  border-width: 2px;
} */

@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

.home,
.contact,
.about {
  background: linear-gradient(#85C9B1, #fcf8cf);
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  z-index: -1;
}

.projects {
  background-color: #85C9B1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  background-repeat: repeat;
}

/* TODO: change this method */
html {
  background-color: #85C9B1;
}


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.about-header {
  font-size: 65px;
  left: 75px;
  position: absolute;
  z-index: 1;
}

.about-me-text {
  position: absolute;
  left: 50px;
  top: 150px;
  width: 750px;
  background-color: #eff2f7;
  font-size: 18px;
  text-align: left;
  padding: 20px;
  border-radius: 5px;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact {
  height: 500px;
  width: 1000px;
  flex-direction: row;
  /* position: relative; */
}

.contact-container {
  margin: 0px 100px;
}

.contact-types {
  color: #56a095;
  font-size: 18px;
}

.contact-text {
  font-size: 78px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.icon-container {
  text-align: right;
}

.contact-types{
  margin-bottom: 0px;
}

.contact h4 {
  font-size: 25px;
}

.contact h3 {
  margin-top: 10px;
  font-size: 20px;
}

.contact-info-container {
  text-align: left;
}

.desktop-image {
  width: 650px;
  position: absolute;
  top: 130px;
  right: 35px;
  opacity: 0.8;
}

.front-btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  width: 150px;
  height: 60px;
  margin: 30px 50px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
.front-btn:hover {
  background: #e7e7e7;
}

.front-page-profile-image {
  border-radius: 50%;
  width: 200px;
}

.gray-border {
  border-style: solid;
  border-width: 2px;
  border-color: #c7c9cc;
}
.front-btn1{
  animation: fadein 3s;
  animation-delay: 10s;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -o-animation: fadein 3; /* Opera */
}

.about,
.projects,
.contact {
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}


@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}

.inner-white-container {
  background-color: #eff2f7;
  width: 80vw;
  height: 85vh;
  position: relative;
  border-radius: 7px;
}


.projects-inner-white-container {
  background-color: #eff2f7;
  width: 80vw;
  height: auto;
  margin-top: 55px;
  margin-bottom: 55px;
  position: relative;
  border-radius: 7px;
}

.large-name1 {
  font-size: 50px;
  animation:  blink-caret .85s step-end infinite;
}

.large-name {
  font-size: 50px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .10em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: .01em; /* Adjust as needed */
  animation:
    typing 4s steps(40, end),
    blink-caret .85s step-end infinite;
}
.anim {
  animation: typewriter 4s steps(44) 1s 1 normal both,
  blink-caret 500ms steps(44) infinite normal;
}

@keyframes typewriter{
from{width: 0;}
to{width: 24em;}
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}

.name-picture-container {
  padding: 0;
  margin: 30px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.name-picture-item {
  padding: 20px
}

.navbar {
  margin: 0px;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 10px;
  right: 75px;
}

.navbar-link:hover {
  color: #eff2f7;
}

.navbar-link {
  color: black;
  text-decoration: none;
  margin: 5px 15px 5px 0px;
}

.navbar-link:visited {
  text-decoration: none;
  color:#000;
}

.project-container {
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fcfeff
}

.project-header {
  background-color: #b8c1d1;
  height: 30px;
}

.project-title {
  padding: 0px;
  margin: 0px 10px;
  font-size: 18px;
  text-align: left;
}

.proj-desc-container {
  display: flex;
  flex-direction: row;
  margin: 0px 20px
}

.project-description {
  text-align: left;
  margin-left: 20px;
}

.proj-images-container {
  margin: 20px;
}

.proj-image {
  height: 150px;
  margin: 0px 20px
}

.proj-section-title {
  font-size: 20px;
}

.proj-links-container {
  display: flex;
  flex-direction: row;
  padding: 0px;
  justify-content: center
}

.small-icon {
  font-size: 50px;
  margin: 0px 10px;
  text-decoration: none;
  color: black
}

.project-links {
  text-align: center;
  display: inline;
  margin: 0px 10px 20px 10px;
}

